<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-cache-purge"
    version="0.0.1">

    <name>CachePurge</name>
    <description>
    </description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- browser -->
    <platform name="browser">
         <hook type="after_prepare" src="hooks/browser/after_prepare.js" />
    </platform>

</plugin>
